/*====================== HTML / TODOS LOS OBJETOS ======================*/

* {
    padding: 10px ;
    margin: 0px;
}

html {
    background-color: rgb(247, 226, 199);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*====================== FORMULARIOS ======================*/

.formularios {
    display: flex;
}

/*====================== FORMULARIO 1 ======================*/

.contact_form1 {
    height: auto;
    margin: auto;
    width: 460px;
    border-radius: 15px;
    background-color: rgb(250, 241, 229);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.884);
}

input {
    background-color: rgb(248, 215, 168);
    height: 40px;
    width: 400px;
    border-radius: 10px;
    border-width: 2px;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:focus {
    background-color: rgba(199, 171, 131, 0.733);
}

textarea {
    height: 40px;
    width: 400px;
    background-color: rgb(248, 215, 168);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    transition: ease-in 2s;
}

button {
    border-radius: 10px;
    transition: linear 0.5s;
    background-color:rgb(248, 211, 156);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button:hover {
    background-color:rgba(197, 156, 79, 0.938);
}

/*====================== FORMULARIO 2 ======================*/

.contact_form2 {
    height: auto;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(250, 241, 229);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.884);
}

.formulario3 {
    background-color: rgba(167, 188, 250, 0.63);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.61);
}

/*====================== FORMULARIO 3 ======================*/

.contact_form3 {
    height: auto;
    margin: auto;
    width: 500px;
    border-radius: 15px;
    background-color: rgb(14, 151, 231);
    box-shadow: 0 0 40px 0 rgba(16, 73, 243, 0.884);
}

.checkbox3 > p {
    display: flex;
}

.numerotlf3 > p {
    width: 300px;
    height: auto;
}
.numerotlf3 input {
    background-color: rgba(167, 188, 250, 0.63);
}


